*{
    margin:0px;
    background-color: beige;
    overflow-x: hidden;
}

.page{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}
/* .btn1{
    max-width: 100%;
    max-height: 100%;
} */
.user-side{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
    height: 400px;
}

.header{
    text-align: center;
    height: 60px;
    font-size: 40px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    position: fixed;
}

.info{
    font-size: 40px;
}

textarea{
    background-color: white;
    font-size: larger;
    max-height: 300px;
    padding: none;
    min-height: 300px;
    margin: 0% 20% 0% 20%;
}
.slider{
    display: grid;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 5% 5% 0% 5%;
    max-height: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.slid{
    width: 90%;
    cursor: pointer;
}

.info1{
    font-size: larger;
    font-weight: normal;
}

.btns{
    margin-top: 30px;
}

.inp{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 60px;
}

button{
    height: 30px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border-style: solid;
    cursor: pointer;
}